<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/jquery-3.6.0.min.js">
    </script>

    <script src="/js/script.js"></script>
    <title>POST Board</title>
</head>
<body>
    <div class="container mb-3">
        <nav class="navbar">
            <div>
                <div class="navbar-menu" id="menu">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/list/<%=1%>" class="nav-link" name="list">List</a>
                    <% if (!login) { %>
                        <a href="/login" class="nav-link" name="login">Login</a>
                        <a href="/signup" class="nav-link" name="signup">signup</a>
                    <% } else { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=login%>
                    <a href="/logout" class="nav-link" name="logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </nav>
        <br>
        <div class="container mb-3">
            <table border="1" width="700" height="300" class="board-table">
                <form action="/edit/<%= result[0].seq %>" method="post" id="edit">
                <thead class="thead-light">
                <tr>
                    <th scope="col" width="100">제목</th>
                    <td colspan="5">
                        <div class="ellipsis"><input type="text" id="title" name="subject" value="<%= result[0].subject %>"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="col">작성일</th>
                    <td class="date" align="center">
                        <div class="ellipsis">
                            <% if(result[0].updated_at) { %>
                                <div><span data-date-time="<%= result[0].update_at %>"></span></div>
                            <% } else { %>
                                <div><span data-date-time="<%= result[0].create_at %>"></span></div>
                            <% } %>
                        </div>
                    </td>
                    <th scope="col">조회수</th>
                    <td  align="center">
                        <div class="ellipsis"><%= result[0].views %></div>
                    </td>
                    <th scope="col">좋아요</th>
                    <td  align="center">
                        <div class="ellipsis"><%= result[0].likes %></div>
                    </td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">
                            <div class="ellipsis"><textarea id="body" name="content" rows="5"><%= result[0].content %></textarea></div>
                        </td>
                    </tr>
                </tbody>
                </form>
            </table>
            <br>
            <div class="mt-3">
                <button type="submit" form="edit">글저장</button>
            </div>
        </div>
    </div>
</body>
</html>