<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POST Board</title>
</head>
<body>
<nav class="navbar">
    <div>
        <div id="menu">
            <a href="/">Home</a>
            <a href="/list/<%= 1 %>" name="list">List</a>
            <% if (!login) { %>
                <a href="/login" name="login">Login</a>
                <a href="/signup" name="signup">signup</a>
            <% } else { %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=login%>
                <a href="/logout" name="logout">Logout</a>
            <% } %>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h1>My Board</h1>
        </div>
    </div>
</nav>
</body>
</html>