<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <% if (temp) { %>
    <script>
        alert("<%=temp%>");
    </script>
    <% } %>
</head>
<body>
<nav class="navbar">
    <div>
        <div class="navbar-menu" id="menu">
            <a href="/" class="nav-link">Home</a>
            <a href="/list/<%=1%>" class="nav-link" name="list">List</a>
            <a href="/login" class="nav-link" name="login">Login</a>
            <a href="/signup" class="nav-link" name="signup">signup</a>
        </div>
    </div>
</nav>
<h3>로그인 정보를 입력하세요.</h3>

<form action="/login" method="post">
    <label for="id">아이디 : </label><input type="text" name="id" value="<%=id%>">
    <br>
    <label for="pw">비밀번호 : </label><input type="password" name="pw" value="<%=pw%>">
    <br>
    <br>
    <button type="submit">로그인</button>
    <a href="/signup"><button type="button">회원가입</button></a>
</form>

</body>
</html>