<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/jquery-3.6.0.min.js">
    </script>

    <script src="/js/script.js"></script>
    <title>POST Board</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <div class="navbar-menu" id="menu">
                <a href="/" class="nav-link">Home</a>
                <a href="/list/<%=1%>" class="nav-link" name="list">List</a>
                <% if (!login) { %>
                    <a href="/login" class="nav-link" name="login">Login</a>
                    <a href="/signup" class="nav-link" name="signup">signup</a>
                <% } else { %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=login%>
                <a href="/logout" class="nav-link" name="logout">Logout</a>
                <% } %>
            </div>
        </div>
    </nav>
    <br>
    <div class="container mb-3">
        <table border="1" width="700" height="300" class="board-table">
            <thead class="thead-light">
            <tr>
                <th scope="col" width="100">제목</th>
                <td colspan="1">
                    <div class="ellipsis"><%= result[0].subject %></div>
                </td>
                <th scope="col" width="100">작성자</th>
                <td colspan="3" align="center">
                    <div class="ellipsis"><%= member %></div>
                </td>
            </tr>
            <tr>
                <th scope="col">작성일</th>
                <td class="date" align="center">
                    <div class="ellipsis">
                        <% if(result[0].updated_at) { %>
                            <div><span data-date-time="<%= result[0].update_at %>"></span></div>
                        <% } else { %>
                            <div><span data-date-time="<%= result[0].create_at %>"></span></div>
                        <% } %>
                    </div>
                </td>
                <th scope="col">조회수</th>
                <td  align="center">
                    <div class="ellipsis"><%= result[0].views %></div>
                </td>
                <th scope="col">좋아요</th>
                <td  align="center">
                    <div class="ellipsis">
                        <a href="/likes/<%= result[0].seq %>"><%= result[0].likes %></a>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="6">
                    <div class="ellipsis"><%= result[0].content %></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <% if (comment.length != 0) { %>
            <% for (let i=0; i < comment.length; i++) { %>
                <table border="1" width="700" height="100" class="comment">
                    <tr>
                        <th>작성자</th>
                        <td height="10">
                            <div align="center"><%= comment[i].name %></div>
                        </td>
                        <th>작성일시</th>
                        <td>
                            <div align="center"><span data-date-time="<%= comment[i].createdAt %>"></span></div>
                        </td>
                        <% if (login == comment[i].name) { %>
                            <td align="center">
                                <a href="/commentEdit/<%= comment[i].seq %>"><input type="button" value="수정"></a>
                            </td>
                            <td align="center">
                                <a href="/commentDel/<%= comment[i].seq %>"><input type="button" value="삭제"></a>
                            </td>
                        <% } else { %>
                            <td align="center">
                                <a href="/commentEdit/<%= comment[i].seq %>"><input type="button" value="수정" disabled></a>
                            </td>
                            <td align="center">
                                <a href="/commentDel/<%= comment[i].seq %>"><input type="button" value="삭제" disabled></a>
                            </td>
                        <% } %>
                    </tr>
                    <% if (comment_seq == comment[i].seq) { %>
                        <form action="/commentUpdate/<%= comment[i].seq %>" method="post">
                            <tr>
                                <th>댓글</th>
                                <td colspan="4">
                                    <textarea id="comment" name="content" style="width: 500px; height: 100px;"><%= comment[i].content %></textarea>
                                </td>
                                <td align="center">
                                    <button type="submit">저장</button>
                                </td>
                            </tr>
                        </form>
                    <% } else { %>
                        <tr>
                            <th>댓글</th>
                            <td colspan="5">
                                <%= comment[i].content %>
                            </td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        <% } %>
        <% if (login) { %>
        <table border="1" width="700" height="50" class="comment">
            <form action="/commentSave/<%= result[0].seq %>" method="post">
            <tr>
                <th>작성자</th>
                <td colspan="5">
                    <input type="text" id="title" name="name" value="<%= login %>" readonly/>
                </td>
            </tr>
            <tr>
                <th>댓글</th>
                <td>
                    <textarea id="body" name="content" style="width: 500px; height: 100px;"></textarea>
                </td>
                <td align="center">
                    <button type="submit">저장</button>
                </td>
            </tr>
            </form>
        </table>
    </div>
    <br>
    <div class="mt-3">
        <a class="btn btn-primary" href="/new"><button type="button">글쓰기</button></a>
        <a class="btn btn-primary" href="/list/<%=1%>"><button type="button">이전</button></a>
    <% } else { %>
        <br>
        <div class="mt-3">
            <a class="btn btn-primary" href="/list/<%=1%>"><button type="button">이전</button></a>
    <% } %>
    <% if (m_seq == result[0].members_seq) { %>
        <a class="btn btn-primary" href="/edit/<%= result[0].seq %>"><button type="button">수정</button></a>
        <form action="/del/<%= result[0].seq %>" method="post">
            <a href="javascript:void(0)" onclick="confirm('정말 삭제 하시겠습니까?')?this.parentElement.submit():null;">
                <button type="button">삭제</button>
            </a>
        </form>
    <% } %>
    </div>
</body>
</html>