<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <!-- 각 입력항목 validation check 경고창 -->
    <% if (error) { %>
    <script>
        alert("<%= error %>");
    </script>
    <% } %>
</head>
<body>
    <nav class="navbar">
        <div>
            <div class="navbar-menu" id="menu">
                <a href="/" class="nav-link">Home</a>
                <a href="/list/<%=1%>" class="nav-link" name="list">List</a>
                <a href="/login" class="nav-link" name="login">Login</a>
                <a href="/signup" class="nav-link" name="signup">signup</a>
            </div>
        </div>
    </nav>

    <h3>내 계정 만들기</h3>

    <form action="/signup" method="post">
        <label for="id">아 이 디 : </label><input type="text" name="id" value="<%=id%>">
        <br>
        <label for="pw">비밀번호 : </label><input type="password" name="pw" value="<%=pw%>">
        <br>
        <label for="rePw">비밀번호 확인 : </label><input type="password" name="re_pw" value="<%=re_pw%>">
        <br>
        <label for="name">이  름 : </label><input type="text" name="name" value="<%=name%>">
        <br>
        <label for="birth">생  일 : </label><input type="text" name="birth" value="<%=birth%>">
        <br>
        <label for="email">이메일 : </label><input type="email" name="email" value="<%=email%>">
        <br>
        <label for="phone">휴대폰 : </label><input type="phone" name="phone" value="<%=phone%>">
        <br><br>
        <button type="submit">가입하기</button>
    </form>

</body>
</html>